/* style.css */

/* Grundlegendes Body Styling */
body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
}

/* Überschriften */
h2, h3 {
    color: #222;
}

#output {
    font-size: 4em;
    text-align: center;
    
}

#controls {
    margin-top: 10%;
    margin-left: 42%;
    margin-bottom: 20px;
}

/* Hervorgehobenes Wort */
.highlight {
    background-color: #ff8800; /* gelbes Kästchen */
    color: #000;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
}

/* Button Styling */
button {
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    padding: 8px 16px;
    font-size: 1em;
    border-width: 2px;
    border-radius: 40px;
    border-color: #fff;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #000000;
    color: #ffffff;
    border-color: #ff8800;
}

.input {
    margin: auto;
  width: 50%;
  padding: 10px;
  padding-right: 0px;
}

/* Input-Feld */
input[type="text"] {
    text-align: center;
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    width: 87%;
    border: 2px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
}

/* Fehlertext */
#error {
    font-family: 'Courier New', Courier, monospace;
    color: #ff8800;
    margin-top: 5px;
    font-weight: bold;
    height:50px;
    text-align: center;
}
